click
cryptography
datadog
drf-spectacular
mypy>=0.961
phonenumbers
pyjwt
pytest
responses
sentry-arroyo
sentry-sdk
snuba-sdk
structlog
types-PyYAML
types-croniter
types-freezegun
types-jsonschema
types-maxminddb
types-oauthlib
types-pillow
types-psycopg2
types-python-dateutil
types-pytz
types-redis
types-requests
types-selenium  # TODO: use selenium when upgrading to 4.x
types-setuptools
types-simplejson
